body {
  background-color: #13355F;
}

.header {
  background-color: blue;
}
.content {
  width: 100%;
  padding: 0 10em;
}
.landing-screen {
  padding-top: 2em;
  min-height: 500px;
  background-image: url("../images/landingscreen.jpg");
  background-size: 100%;
  background-position:center top;
  background-repeat: no-repeat;
  margin-left: -1em!important;
  margin-right: -1em!important;
  margin-bottom: -2em;
}
.search-icon {
  position: relative;
  right: 2em;
  bottom: 1em;
}
.f-layer {
  background-image: url("../images/building-bg.jpg");
  background-size: 100%;
  background-position:right bottom;
  background-repeat: no-repeat;
  margin-left: -1em!important;
  margin-right: -1em!important;
}
.feeds {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin-top: 2em;
  padding: 5em;
  background-color: rgba(15,37,63,0.9);
}
.more-stories {
  text-transform: uppercase!important;
  border-radius: 2rem!important;
  margin-top: 2em!important;
  font-weight: 700;
  color: #89B2E5!important;
  background-color: #fff!important;
  padding: 0.8em 4em!important;
}
.more-stories:hover {
  background-color: #c0c0c0!important;
}
.socialfeed {
  max-width: 620px;
  max-height: 620px;
  margin: auto!important;
}
.ui.four.cards>.card {

}
.socialfeed .card {
  margin:0!important;
  border-radius: 0!important;
}
.carousel {
  min-height: 300px;
  background-color: #fff;
}
.footer {
  background-color: #0D2341;
  color: #fff;
}
.footer .ui.fluid.button {
  background: #0D2341;
  box-shadow: 1px 1px 10px #888888;
  color: #fff;
  border-radius: 2em;
}
.footer .ui.fluid.button:hover {
  background: #102b51;
  color: #c0c0c0;
}
.subfooter {
  background-color: #13355F;
  color: #fff;
  text-transform: uppercase;
}
.subfooter a {
  color: #fff;
}
.up-arrow {
  position: relative;
  left: 50%;
}
.column.footerright {
  background-image: url("../images/footerright.png");
  background-size: 100%;
  background-position:center bottom;
  background-repeat: no-repeat;
}
.footerlogo img{
  margin: auto;
}
.column.attribution {
  text-align: right;
}

.social {
  position: fixed;
  top: 10em;
  left: 0;
}
.social ul {
  list-style-type: none;
  padding-left: 0;
}
.social li {
  margin: 1.7em;
}
.social li a {
  color: #fff;
  opacity: 0.5;
}
.social li a:hover {
  opacity: 1;
}
.carousel {
  margin-left: -1em!important;
  margin-right: -1em!important;
  text-align: center;
  padding: 3em;
}
.bx-wrapper {
  box-shadow: none;
}
.bx-pager.bx-default-pager {
  display: none;
}
.bx-wrapper {
  margin: 0 auto 14px;
}
.circular.image.slide {
  width: 50%!important;
  margin: 0 auto;
  border-radius: 50%!important;
}
.slider .ui.card .image {
  background-color: #fff;
}
.slider .ui.card {
  box-shadow: none;
}



.sm-mint {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  background: rgba(60,78,97,0.8);
}
.sm-mint a, .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.sm-mint a.current {
  font-weight: bold;
}
.sm-mint a.disabled {
  color: #cccccc;
}
.sm-mint a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 14px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(141, 184, 99, 0.2);
  border-radius: 4px;
}
.sm-mint a .sub-arrow::before {
  content: '+';
}
.sm-mint a.highlighted .sub-arrow::before {
  content: '-';
}
.sm-mint li {
  border-top: 1px solid rgba(141, 184, 99, 0.2);
}
.sm-mint > li:first-child {
  border-top: 0;
}
.sm-mint ul {
  background: rgba(60,78,97,1);
}
.sm-mint ul a, .sm-mint ul a:hover, .sm-mint ul a:focus, .sm-mint ul a:active {
  font-size: 14px;
  border-left: 8px solid transparent;
}
.sm-mint ul ul a,
.sm-mint ul ul a:hover,
.sm-mint ul ul a:focus,
.sm-mint ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-mint ul ul ul a,
.sm-mint ul ul ul a:hover,
.sm-mint ul ul ul a:focus,
.sm-mint ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-mint ul ul ul ul a,
.sm-mint ul ul ul ul a:hover,
.sm-mint ul ul ul ul a:focus,
.sm-mint ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-mint ul ul ul ul ul a,
.sm-mint ul ul ul ul ul a:hover,
.sm-mint ul ul ul ul ul a:focus,
.sm-mint ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-mint ul {
    position: absolute;
    width: 12em;
  }

  .sm-mint li {
    float: left;
  }

  .sm-mint.sm-rtl li {
    float: right;
  }

  .sm-mint ul li, .sm-mint.sm-rtl ul li, .sm-mint.sm-vertical li {
    float: none;
  }

  .sm-mint a {
    white-space: nowrap;
  }

  .sm-mint ul a, .sm-mint.sm-vertical a {
    white-space: normal;
  }

  .sm-mint .sm-nowrap > li > a, .sm-mint .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-mint {
    border-top: 0;
    background: transparent;
  }
  .sm-mint a, .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active, .sm-mint a.highlighted {
    padding: 0.8em 0.8em;
    color: #fff;
  }
  .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active {
    background: rgba(60,78,97,0.8);
    color: #fff;
  }
  .sm-mint a.highlighted {
    background: rgba(60,78,97,0.8);
    color: #fff;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
  }
  .sm-mint a.disabled {
    background: transparent;
    color: #cccccc;
    box-shadow: none;
  }

  .sm-mint a .sub-arrow {
    display: none;
    top: 50%;
    margin-top: -3px;
    right: 20px;
    width: 0;
    height: 0;
    border-width: 6px 4.02px 0 4.02px;
    border-style: solid dashed dashed dashed;
    border-color: #8db863 transparent transparent transparent;
    background: transparent;
    border-radius: 0;
  }
  .sm-mint a:hover .sub-arrow, .sm-mint a:focus .sub-arrow, .sm-mint a:active .sub-arrow {
    border-color: #fff transparent transparent transparent;
  }
  .sm-mint a.highlighted .sub-arrow {
    border-color: #8db863 transparent transparent transparent;
  }
  .sm-mint a.disabled .sub-arrow {
    border-color: #8db863 transparent transparent transparent;
  }
  .sm-mint a .sub-arrow::before {
    display: none;
  }
  .sm-mint li {
    border-top: 0;
  }
  .sm-mint ul {
    border: 0;
    padding: 8px 0;
    background: rgba(60,78,97,0.8);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
  }
  .sm-mint ul ul {
    border-radius: 4px;
  }
  .sm-mint ul a, .sm-mint ul a:hover, .sm-mint ul a:focus, .sm-mint ul a:active, .sm-mint ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #D8DCDF;
    border-radius: 0;
  }
  .sm-mint ul a:hover, .sm-mint ul a:focus, .sm-mint ul a:active, .sm-mint ul a.highlighted {
    color: #fff;
    box-shadow: none;
  }
  .sm-mint ul a.disabled {
    background: transparent;
    color: #b3b3b3;
  }
  .sm-mint ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-mint ul a .sub-arrow {
    right: 10px;
    margin-top: -4.02px;
    border-width: 4.02px 0 4.02px 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #8db863;
  }
  .sm-mint ul a:hover .sub-arrow, .sm-mint ul a:focus .sub-arrow, .sm-mint ul a:active .sub-arrow, .sm-mint ul a.highlighted .sub-arrow {
    border-color: transparent transparent transparent #fff;
  }
  .sm-mint ul a.disabled .sub-arrow {
    border-color: transparent transparent transparent #8db863;
  }
  .sm-mint .scroll-up,
  .sm-mint .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #F6FFED;
    height: 20px;
  }
  .sm-mint .scroll-up-arrow,
  .sm-mint .scroll-down-arrow {
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 0 6px 8px 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #8db863 transparent;
  }
  .sm-mint .scroll-down-arrow {
    border-width: 8px 6px 0 6px;
    border-style: solid dashed dashed dashed;
    border-color: #8db863 transparent transparent transparent;
  }
  .sm-mint.sm-rtl a.has-submenu {
    padding-right: 20px;
    padding-left: 34px;
  }
  .sm-mint.sm-rtl a .sub-arrow {
    right: auto;
    left: 20px;
  }
  .sm-mint.sm-rtl.sm-vertical {
    border-right: 0;
    border-left: 2px solid #8db863;
  }
  .sm-mint.sm-rtl.sm-vertical a {
    border-radius: 0 4px 4px 0;
  }
  .sm-mint.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-mint.sm-rtl.sm-vertical a .sub-arrow {
    right: auto;
    left: 10px;
    border-width: 4.02px 6px 4.02px 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent #8db863 transparent transparent;
  }
  .sm-mint.sm-rtl.sm-vertical a:hover .sub-arrow, .sm-mint.sm-rtl.sm-vertical a:focus .sub-arrow, .sm-mint.sm-rtl.sm-vertical a:active .sub-arrow, .sm-mint.sm-rtl.sm-vertical a.highlighted .sub-arrow {
    border-color: transparent #fff transparent transparent;
  }
  .sm-mint.sm-rtl.sm-vertical a.disabled .sub-arrow {
    border-color: transparent #8db863 transparent transparent;
  }
  .sm-mint.sm-rtl ul {
    border-radius: 4px 0 4px 4px;
  }
  .sm-mint.sm-rtl ul a {
    border-radius: 0 !important;
  }
  .sm-mint.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-mint.sm-rtl ul a .sub-arrow {
    right: auto;
    left: 10px;
    border-width: 4.02px 6px 4.02px 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent #8db863 transparent transparent;
  }
  .sm-mint.sm-rtl ul a:hover .sub-arrow, .sm-mint.sm-rtl ul a:focus .sub-arrow, .sm-mint.sm-rtl ul a:active .sub-arrow, .sm-mint.sm-rtl ul a.highlighted .sub-arrow {
    border-color: transparent #fff transparent transparent;
  }
  .sm-mint.sm-rtl ul a.disabled .sub-arrow {
    border-color: transparent #8db863 transparent transparent;
  }
  .sm-mint.sm-vertical {
    border-bottom: 0;
    border-right: 2px solid #8db863;
  }
  .sm-mint.sm-vertical a {
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
  }
  .sm-mint.sm-vertical a:hover, .sm-mint.sm-vertical a:focus, .sm-mint.sm-vertical a:active, .sm-mint.sm-vertical a.highlighted {
    background: #8db863;
    color: #fff;
    box-shadow: none;
  }
  .sm-mint.sm-vertical a.disabled {
    background: transparent;
    color: #cccccc;
  }
  .sm-mint.sm-vertical a .sub-arrow {
    right: 10px;
    margin-top: -4.02px;
    border-width: 4.02px 0 4.02px 6px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #8db863;
  }
  .sm-mint.sm-vertical a:hover .sub-arrow, .sm-mint.sm-vertical a:focus .sub-arrow, .sm-mint.sm-vertical a:active .sub-arrow, .sm-mint.sm-vertical a.highlighted .sub-arrow {
    border-color: transparent transparent transparent #fff;
  }
  .sm-mint.sm-vertical a.disabled .sub-arrow {
    border-color: transparent transparent transparent #8db863;
  }
  .sm-mint.sm-vertical ul {
    border-radius: 4px !important;
  }
  .sm-mint.sm-vertical ul a {
    padding: 10px 20px;
  }
}


.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
}

.nav-brand a {
  display: block;
  padding: 11px 11px 11px 20px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}

#main-menu {
  clear: both;
  border-bottom: 0;
}

@media (min-width: 768px) {
  #main-menu {
    float: right;
    clear: none;
  }
}


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}


/* IGNORE: Unrelated generic demo styles */

.demo-text {
  margin: 3em 22px;
}

.demo-text p {
  margin-bottom: 1em;
}

.demo-text a {
  color: #999;
}

.menu-spacer a:hover {
  background: transparent;
}
.socialfeed .column {
  padding: 0!important; 
}
.sf-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  z-index: 999;
}
.himage {
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  z-index: 0;
}
.htext {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(60,78,97,0.8);
  padding: 1.5em; 
}
.card {
  cursor: pointer;
}
.card:hover .htext {
  display: inline-block;
}

.socialfeed {
  margin-top: 3em!important;
}
.socialfeed .card, .socialfeed .column {
  max-width: 150px!important;
}
.htitle {
  display: block;
}
.htag {

  font-size: 3em;
  text-transform: uppercase;
}
.htag-under {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .subfooter .column {
    text-align: center!important;
  }
  .subfooter, .ui.stackable.grid, .carousel {
    margin-left: -1em!important;
    margin-right: -1em!important;
  }
  .up-arrow {
    left: 0;
  }
  .social, .menu-spacer {
    display: none!important;
  }
  .carousel, .feeds {
    padding: 1em;
  }
  .landing-screen {
    min-height: 18em;
  }
}